.p {
    font-size: 30px;
}

.name {
    font-size: 30px;
    color: brown;
}

li {
    margin: 5px;
}

li > div {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}