.p {
    font-size: 30px;
}

.name {
    font-size: 30px;
    color: brown;
}

li {
    margin: 5px;
}

li > div {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
}

.todo > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo > div * {
    margin: 5px;
}